{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static '/style.css' %}">
    <script defer src="{% static '/js/main.js' %}"></script>
    <script src="https://kit.fontawesome.com/97d76b00cf.js"></script>
    
    <title>TOTA F.C.</title>
</head>
<body>
        <header class="header-welcome" id="inicio">
                <div class="header-nav">
                    <i class="fas fa-bars" id="btnMobile"></i>
                    <a href="#inicio">
                    </a>
                    <nav class="menu-container">
                        <a href="#inicio">Inicio</a>
                        <a href="#sobre">Sobre</a>
                        <a href="#elenco">Elenco</a>
                        <a href="#marcar">Marcar X1</a>
                        <a href="#agenda">Agenda</a>
                        <a href="#contato">Contato</a>
                    </nav>
                </div>
                <span>TOTA F.C</span>
                <p>O melhor time é o meu!</p>
                <button class="btn-default"><a href="#marcar">Desafiar</a></button>
                <section class="numeros">
                    <div>
                        <div>
                            <p>Vitorias <br> {{reVit}}</p>
                        </div>
                        <div>
                            <p>Empates <br>{{reDer}}</p>
                        </div>
                            <p>Derrotas <br>{{reEmpa}}</p>
                        <div></div>
                    </div>
                </section>
            </header>
    
    <section id="sobre">
        <div>
            <h2>Sobre</h2>
        </div>
        <div>
            <div>
                <h3>O nosso time</h3>
                <p>Quero ver bater de frente, jogamos de terno por tamanha qualidade dos jogadores</p>
            </div>
            <img src="../static/images/time.jpeg" alt="">
        </div>
    </section>

    <section id="elenco">
        <header>
            <h2>Elenco</h2>
            <p>Veja o nosso elenco</p>
        </header>

        {% if posts %}
        {% for item in posts %}
        <article>
            <img src="https://res.cloudinary.com/wagner/image/upload/{{item.image}}" alt="">
    
            <div>
                <div>
                    <!-- <i class="flaticon-user"> -->
                        <span>{{item.author}}</span>
                    </i>
    
                    <!-- <i class="flaticon-clock"> -->
                        <span>{{item.created_at|date:'d, M Y'}}</span>
                    </i>
                </div>
    
                <h1>{{item.nome}}</h1>
                {{item.resumo|safe|slice:":255"}}
                </div>
        </article>
        {% endfor %}
        {%else%}
    <p>No momento, estamos montando nosso time.</p>
    {% endif %}
        </div>
    </section>

    <section id="marcar">
        <div>
            <h2>Marcar X1</h2>
        </div>
        <form method="POST" action="/">
            {% csrf_token %}
            <div>
            <input type="text" name="name" placeholder="Seu nome" required>
            <input type="text" name="time" placeholder="Seu time" required>
            <input type="text" name="end" placeholder="Endereço do contra" required>
            <input type="text" name="tel" placeholder="Seu telefone" required>
            <input type="email" name="email" placeholder="Seu email" required>
            <input type="datetime-local" name="date" placeholder="Dia do contra" required>
            <input type="text" name="msg" placeholder="Mensagem" required>
        </div>
            <div>
            <select name="lugar" required>
                    <option value="" disabled selected>Tipo de quadra...</option>
                    <option value="GRAMADO">Gramado</option>
                    <option value="SOCIETY">Society</option>
                    <option value="FUTSAL">Futsal</option>
                    <option value="TAQUEADA">Taqueada</option>
                </select>
            <button class="btn-default">Enviar desafio</button>
        </div>
        <nav>
            {{msgOk}}
        </nav>
        </form>
    </section>
    <section id="agenda">
            <h2>Agenda</h2>
            <div>

        <div>
            <h3>Time</h3>
            {% if resultado %}
                {% for re in resultado %}
                    <div>
                        <span>{{re.time}}</span>
                    </div>
                {% endfor %}
                {% endif %}
        </div>

        <div>
            <h3>Lugar</h3>
            {% if resultado %}
            {% for re in resultado %}
                <div>
                    <span>{{re.end}}</span>
                </div>                
            {% endfor %}
            {% endif %}
        </div>
        <div>
            <h3>Data</h3>
            {% if resultado %}
            {% for re in resultado %}
                <div>
                    <span>{{re.date}}</span>
                </div>                
            {% endfor %}
            {% endif %}
        </div>
        </div>

    </section>

    <section id="contato">
        <h2>Contato</h2>
        <div>
            <a href="https://www.google.com/maps/place/Q.+de+Futsal+do+Promorar+-+R.+Corn%C3%A9lio+Zelaia+-+Conj.+Promorar+Sao+Luis,+S%C3%A3o+Paulo+-+SP,+05846-030/@-23.6566485,-46.7477293,19.94z/data=!4m13!1m7!3m6!1s0x94ce517d8320ee43:0x4cc08add3b3d3fa0!2sAv.+Fim+de+Semana+-+Jardim+Capelinha,+S%C3%A3o+Paulo+-+SP,+05846-270!3b1!8m2!3d-23.657045!4d-46.7470304!3m4!1s0x94ce517ea3fbd203:0x108ecf77a0317a4c!8m2!3d-23.6579218!4d-46.743958"><img src="../static/images/maps-and-flags.png" alt=""></a>

            <a href="https://api.whatsapp.com/send?phone=5511968181692&text=Chama"><img src="../static/images/whatsapp.png" alt=""></a>
            
            <a href="https://instagram.com/totafc2019?igshid=fco1tn3jn1ke" target="_blanck"><img src="../static/images/instagram.png" alt=""></a>
        </div>
    </section>
    <section id="historico">
        <div>
            <h2>Historico</h2>
            {% for re in msgRe %}
            {% if re.placarCasa != none %}
                <div>
                    <span>TOTA F.C</span>
                    <span>{{re.placarCasa}}</span>
                    <span>X</span>
                    <span>{{re.placarFora}}</span>
                    <span>{{re.time}}</span>
                </div>
                {% endif %}
            {% endfor %}
        </div>

    </section>
    <div align=center><a href='https://www.counter12.com'><img src='https://www.counter12.com/img-b57Y18wA8x8wxx2y-15.gif' border='0' alt='contador de acesso'></a><script type='text/javascript' src='https://www.counter12.com/ad.js?id=b57Y18wA8x8wxx2y'></script></div>
</body>
</html>