{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static '/style.css' %}">
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/js/main.js"></script>
    <script defer src="../static/js/icons.js"></script>
    <script defer src="{% static '/js/main.js' %}"></script>
    <script src="https://kit.fontawesome.com/97d76b00cf.js"></script>
    <title>TOTA F.C.</title>
</head>
<body>
        <header class="header-welcome" id="inicio">
                <div class="header-nav">
                    <i class="fas fa-bars" id="btnMobile"></i>
                    <a href="#inicio">
                    </a>
                    <nav class="menu-container">
                        <a href="#inicio">Inicio</a>
                        <a href="#sobre">Sobre</a>
                        <a href="#elenco">Elenco</a>
                        <a href="#marcar">Marcar X1</a>
                        <a href="#agenda">Agenda</a>
                        <a href="#contato">Contato</a>
                    </nav>
                </div>
                <span>TOTA F.C</span>
                <p>O melhor time é o meu!</p>
                <button class="btn-default"><a href="#sobre">Desafiar</a></button>
            </header>
    
    <section id="sobre">
        <div>
            <h2>Sobre</h2>
        </div>
        <div>
            <div>
                <h3>O nosso time</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, voluptatibus quidem eos rerum accusantium doloribus sint impedit </p>
            </div>
            <img src="../static/images/time.jpeg" alt="">
        </div>
    </section>

    <section id="elenco">
        <header>
            <h2>Elenco</h2>
            <p>Veja um pouco sobre nosso elenco</p>
        </header>
    
        {% if posts %}
        {% for item in posts %}
        <article>
            <img src="../media/uploads/{{item.image}}" alt="">
    
            <div>
                <div>
                    <i class="flaticon-user">
                        <span>{{item.author}}</span>
                    </i>
    
                    <i class="flaticon-clock">
                        <span>{{item.created_at|date:'d, M Y'}}</span>
                    </i>
                </div>
    
                <h1>{{item.title}}</h1>
                {{item.summary|safe|slice:":255"}}
                </div>
        </article>
        {% endfor %}
        {% endif %}            
        </div>
    </section>
</body>
</html>