body{
    margin: 0;
    padding: 0;
    background-image: url("images/backk.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-default {
    background-color: #102041;
    box-shadow: #bda10f 0 0 5px 2px;
    color: #e4d03c;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 1.3rem;
    border: 0;
    cursor: pointer;
    transition: 0.5s box-shadow, background-color;
    text-decoration: none;
}
h2{
    font-size: 4rem;
    color: #102041;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px #bda10f;

}
h3{
    font-size: 2rem;
    color: #102041;
    text-shadow: 2px 2px #bda10f;

}
p{
    font-size: 1.3rem;
    color: #081125;
    text-shadow: 2px 2px #bda10f;

}
.btn-default:hover {
    background-color: #4174a2;
    box-shadow: #102041 0 0 5px 2px;
}
.fa-bars.fa-bars{
    display: none;
}
section {
    width: 100%;
    margin: 0 auto;
    padding: 60px 15% 60px 15%;
    box-sizing: border-box;
}

.header-welcome {
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    
}

.header-welcome h1 {
    width: 100%;
    text-align: center;
    color: #102041;
    display: block;
    font-size: 3rem;
}

.header-welcome p {
    width: 100%;
    margin: 40px;
    text-align: center;
    font-size: 1.3rem;
}

.header-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #102041;
    border-bottom: 2px solid #bda10f;
    transition: 0.5s top;
    z-index: 2;
}

.header-welcome img {
    max-width: 70vh;
    width: 80%;
    padding-top: 200px;
}
.header-welcome a{
    text-decoration: none;
    color: #e4d03c;
}
section.numeros{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
section.numeros div{
    display: flex;
    flex-direction: row;
}
section.numeros div p{
    margin: 50px;
}
section div{
}


.menu-container {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-container a {
    color: #e4d03c;
    font-size: 1.2rem;
    text-decoration: none;
    padding: calc(((((var(--vh, 1vh) * 100) - 70px) / 8) - 2rem) / 2) 20px;
}

.menu-container a:hover {
    color: #bda10f;
}

#sobre div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#sobre div div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#sobre img{
    width: 50%;
    border-radius: 10px;
}
#sobre h3{
    margin: 0;
    font-size: 2.5rem;
    color: #102041;
}
#elenco {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    width: 100%;
    position: relative;
}

#elenco header {
    width: 100%;
    text-align: center;
    color: #102041;
    font-size: 1.3rem;
}

#elenco header h2 {
    font-size: 3rem;
    color: #102041;
}

#elenco article {
    display: flex;
    flex-direction: column;
    width: 250px;
    flex-wrap: wrap;
    height: fit-content;
    border-width: 2px;
    border-radius: 5px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.35);
    transition: 0.5s all;
    margin: 5px 0 25px 0;
    overflow: hidden;
    background-color: white;
}

#elenco article:hover {
    margin: -5px 0 25px 0;
    box-shadow: 0 0px 20px white;
}

#elenco article div {
    padding: 10px;
}

#elenco article div div{
    border-bottom: 1px solid #7651B7;
    padding: 0 0 5px 0;
    color: #424242;
}

#elenco article div h1 {
    color: #424242;
}

#elenco article div p {
    color: #707070;
}

#elenco article div a {
    color: #bda10f;
    width: 100%;
    display: inline-block;
}

#elenco img {
    width: 250px;
    height: 300px;
}
#marcar input{
    width: 18vw;
    box-shadow: #e4d03c 0 0 5px 2px;
    color: #102041;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.3rem;
    border: 0;
    cursor: pointer;
    transition: 0.5s box-shadow, background-color;
    text-decoration: none;
    height: 30px;
    margin: 10px;
}
#marcar select {
    width: 19.4vw;
    box-shadow: #e4d03c 0 0 5px 2px;
    color: #102041;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.3rem;
    border: 0;
    cursor: pointer;
    transition: 0.5s box-shadow, background-color;
    text-decoration: none;
    height: 50px;
    margin: 10px;
}
#marcar button{
    width: 19.4vw;
    margin: 10px;
    background-color: #102041;
    color: #e4d03c;
}
#marcar nav{
  font-size: 2rem;
  color: #102041;
  margin: 10px;
}

#agenda h2{
    margin: 0;
    padding: 40px
}
#agenda div{
    display: flex;
    background-color: white;
}
#agenda div div{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height:100px;
    box-shadow: #e4d03c 0 0 5px 2px;
    color: #102041;
    border-radius: 5px;
    font-size: 1.3rem;
    border: 0;
    transition: 0.5s box-shadow, background-color;
    align-items: center;
    justify-content: center;
    padding: 0 10px;

}
#historico{
    display: flex;
    justify-content: center; 
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    min-height: 80vh;
}
#historico div div{
    font-size: 2rem;
    padding: 30px;
    box-shadow: #e4d03c 0 0 5px 2px;
    color: #102041;
    border-radius: 5px;
    border: 0;
    transition: 0.5s box-shadow, background-color;
    background-color: white;
}

#contato div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#contato div a{
    text-decoration: none;
    color: #102041;
    padding: 20px; 
}
#contato div img{
    width: 60px;
}

@media(max-width: 950px){
    .header-nav {
        justify-content: flex-start;
        align-items: center;
    }
     .menu-container {
        position: fixed;
        top: 70px;
        left: -50%;
        width: 50%;
        height: calc((var(--vh, 1vh) * 100) - 70px);
        display: flex;
        transition: all 1s;
        background-color: #102041;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .menu-ativo {
        left: 0;
    }
    .menu-container a {
        padding: calc(((((var(--vh, 1vh) * 100) - 70px) / 8) - 25px) / 2) 20px;
    }

    #sobre div{
        flex-direction: column;
      
    }
    #sobre div h2:last-child{
        display: none;

    }
    #sobre img{
        width: 100%;
    }
    .fa-bars.fa-bars {
        display: inline-block;
        color: #e4d03c;
        font-size: 2rem;
        line-height: 70px;
        cursor: pointer;
        padding: 0 20px 0 20px;
    }
    #marcar{
        padding: 40px;
        margin: 0;
    }
    #marcar input{
        width: 70vw;
    }
    #marcar select{
        width: 75.5vw;
    }
    #marcar button{
        width: 75.5vw;
    }
    section#agenda{
        padding: 0;
    }
    #agenda div div{
        padding: 0 8px;
    }
}
@media(max-width: 500px){
    section.numeros div{
        flex-direction: column;
        align-items: center;
    }
    .header-welcome {
        min-height: 142vh;
    }
    section.numeros div p {
        margin: 20px;
    }
    #historico div div{
        font-size: 1.3rem;
    }
    .header-welcome img {
        padding: 0;
    }
}

